.l-footer {
  background: linear-gradient(to bottom right, #5ac709, #3e8607);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 200px;
    height: 100px;
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
