.c-article {
  background-color: $back-ground-primary;
  &__image {
    height: 300px;
    width: 100%;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__tags {
    > span {
      flex: 0 0 auto;
    }
  }
  &__content {
    h1 {
      font-size: 25px;
      position: relative;
      padding-left: 7px;
      font-weight: 500;
      margin-bottom: 10px;
      > p:last-child() {
        padding-bottom: 40px;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 4px;
        height: 100%;
        background-color: $primary;
      }
    }
    h2 {
      color: #3f6e1c !important;
      font-size: 22px;
      padding-left: 15px;

      > p:last-child() {
        padding-bottom: 20px;
      }
    }
    hr {
      margin-bottom: 50px;
    }
    .preview-0-2-9 > h3 {
      color: #3f6e1c !important;
    }
    h3 {
      font-size: 18px;
      padding-left: 15px;

      > p:last-child() {
        padding-bottom: 10px;
      }
    }

    p {
      width: 100%;
      img {
        width: 100%;
        text-align: center;
        padding: 0 15%;
      }
    }

    li > p {
      padding: 0;
    }
  }

  &__footer {
    background-color: white;
    &-image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
