.c-home-page {
  &__article {
    padding-top: 80px;
    background-color: $back-ground-primary;
    padding-bottom: 40px;
  }
  &__product {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: white;
  }
  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
