.c-user-items {
  &__head {
    margin-top: 20px;
    > span {
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
      padding: 10px 20px 0px 20px;
      background-color: #4ea50c57;
      &:nth-child(2) {
        background-color: #f7cc0b56;
      }
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: $secondary;
        transition: 0.3s;
      }
    }

    > span.active::after {
      width: 100%;
    }
  }
  &__contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #4ea50c57;
    > a {
      width: 100%;
      @media (min-width: 950px) {
        width: 450px;
      }
    }

    &.shop {
      background-color: #f7cc0b56;
    }
  }
  &__article {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.233);
    margin: 20px 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    &-image {
      width: 100%;
      height: 100px;
      @media (min-width: 500px) {
        height: 200px;
      }
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      padding: 5px 10px;
      min-height: 60px;
      > h4 {
        font-size: 16px;
      }
    }
  }
  &__product {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.233);
    margin: 20px 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    &-image {
      width: 100%;
      height: 100px;
      @media (min-width: 500px) {
        height: 200px;
      }
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-price {
      background-color: rgba(0, 0, 0, 0.534);
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      padding: 5px 10px;
      > span {
        font-weight: bold;
      }
    }
    &-content {
      padding: 5px 10px;
      min-height: 60px;
      > h4 {
        font-size: 16px;
      }
    }
  }
}
