.c-user-items {
  &__head {
    margin-top: 50px;
    > span {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 10px 10px 0 0;
      padding: 5px 10px;
      background-color: $back-ground-primary;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: $secondary;
        transition: 0.3s;
      }
    }
    > span.active::after {
      width: 100%;
    }
    > span:hover::after {
      width: 100%;
    }
  }
  &__contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $back-ground-primary;
  }
  &__article {
    width: 140px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.233);
    margin: 40px 0;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    &-image {
      width: 140px;
      height: 140px;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-content {
      padding: 5px 10px;
      > h4 {
        font-size: 16px;
      }
    }
  }
}
